---
// Todo Types
interface Props {
  id: string;
  title: string;
  completed: boolean;
}

const { id, title, completed } = Astro.props;
---

<li data-id={id}>
  <input type="checkbox" checked={completed} />
  <span>{title}</span>
</li>

<style>
  li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
</style>
